#topic-bar {
  position: relative;
  display: flex; 
  flex-wrap: wrap; 
  align-items: center; 
  justify-content: space-around;
  gap: 1rem;
  padding: 0.75rem 1rem;
  z-index: 1;
}

#color-bar {
  content: '';
  position: absolute;
  top: 0.25rem;
  left: -0.5rem;
  right: -0.5rem;
  bottom: 0.25rem;
  background-color: #bd8c7d;
  opacity: 0.3;
  border-radius: 6px;
  z-index: -1;
}

button:hover {
    color: #f9efe2
  }
  
button:active {
  color: #fae0be;
}