<div class="column">
    <h3 class="title" class="merriweather-sans-heading-font">{{ title | uppercase }}</h3>
    <!-- create columns as drop lists and connect to other columns/grid -->
    <div 
        cdkDropList 
        [cdkDropListData]="articles || []"
        (cdkDropListDropped)="onDrop($event)"
        [cdkDropListConnectedTo]="connectedDropLists"
        [id]="dropListId"
        class="card-list {{ isTrash ? 'trash-zone' : '' }}">
        
        <!-- only show this for trash column -->
        <p *ngIf="isTrash" class="trash-label">🗑️ Drag here to remove</p>
        
        <!-- only show articles for non-trash columns -->
        <div 
            class="card" 
            *ngFor="let article of isTrash ? [] : articles"
            cdkDrag
            [cdkDragData]="article"
            (click)="newsService.selectArticle(article)">
            <img [src]="article.urlToImage" alt="Article image" />
            <div class="card-body">
                <h3 class="title">{{ article.title }}</h3>
                <small>{{ article.source.name }}</small>
            </div>
        </div>
        <!-- create some space for articles to be droppped onto if the array is empty -->
        <div *ngIf="articles.length === 0 && !isTrash" class="empty-drop-placeholder">
            Drop articles here
        </div>
    </div>
</div>