<!-- main navbar -->
<app-navbar></app-navbar>

<!-- main content wrapper-->
<main class="main-layout">
  
  <!-- left column: kanban boards -->
  <aside style="width: 20%;">
    <app-kanban-board></app-kanban-board>
  </aside>
  
  <!-- right column: main article area -->
  <section class="grid">

    <!-- main article grid -->
     <app-article-grid></app-article-grid>

    <!-- article modal appears only when a card is clicked -->
    <app-article-modal></app-article-modal>

  </section>
</main>
  



